/* created by Patrycja Karbownik
application for database
"TrafficSchool" */

.button {
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-background-color: grey;
	-fx-text-fill: black;
}

.title {
	-fx-font-size: 32;
	-fx-font-weight: bold;
	/*-fx-border-color: white;*/
	-fx-text-fill: lightgray;
	-fx-alignment: center;
}

.label_1 {
	-fx-font-size: 14;
	-fx-font-weight: bold;
	/*-fx-border-color: white; */
	-fx-background-color: black;
	-fx-text-fill: lightgray;
	-fx-alignment: center_right;
}

.text-field {
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-border-color: lightgray;
	-fx-background-color: black;
	-fx-text-fill: lightgray;
}

.combo-box {
	-fx-font-size: 12;
	-fx-font-weight: bold;
	-fx-border-color: lightgray;
	-fx-background-color: black;
	-fx-text-fill: white;
}

.table-view {
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-border-color: white;
	-fx-text-fill: lightgray;
	-fx-background-color: black;
	-fx-alignment: center;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: lightgray;
}

.table-view .column-header {
    -fx-background-color: transparent;
	-fx-border-color: black;
}

.check-box {

}


